<div class = 'mt-2 mb-4 border-bottom row' style="margin-bottom:16px; padding-bottom:4px">
    <div class="col-10">
        <h4 style="color:rgb(120,120,120); margin-bottom:4px">{{job["title"]}}</h4>
        <div><b>Location: </b>{{job['location']}}</div>
        {% if 'salary' in job %}
            <div><b>Salary: </b>{{job['salary']}}</div>
        {% endif %}
    </div>
    <div class="col-2">
        <!-- <button type="button" class="btn btn-outline-primary">Apply</button> -->
        <a class = "btn btn-outline-primary" href="mailto:bkmhmd@yahoo.com?subject=Apply%20to%20{{job['title']}}&body=%3CYour%20Name%3E%0D%0A%3CYour%20Request%3E" >Apply</a>
    </div>
</div>